#intro {
    margin-top: 50px;
}

#dndicon {
    background-repeat: no-repeat;
    background-position: center bottom;
    height:192px;
    width:320px;
}

#logintxt {
    padding-left: 75px;
    padding-right: 25px;
}

.menu:hover {
    background-color: blue;
}

#dndlogin {
    height:256px;
    width:480px;
}

#dndregister {
    height:225px;
    width:412px;
}

#radio1, #radio2 {
    margin-top: -11px;

}

#popupicon {
    margin-top: 8px;
    vertical-align: middle;
    width: 25%;
}

.loginback 
{
    /* Makes the background transparent so it is easy to read text */
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),

    /* Says what image should appear in the backgorund */
    url(https://static.wixstatic.com/media/5b4ae0_893aa3312e1749eb836914d6b8994398.jpg/v1/fill/w_630,h_448,al_c,q_80,usm_0.66_1.00_0.01/5b4ae0_893aa3312e1749eb836914d6b8994398.jpg);
    background-size: cover;
}

.indexback 
{
    /* Makes the background transparent so it is easy to read text */
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),

    /* Says what image should appear in the backgorund */
    url(https://vignette.wikia.nocookie.net/forgottenrealms/images/d/de/DotMM-urchins.jpg/revision/latest?cb=20190318234432);
    background-size: cover;
}