#intro {
    margin-top: 50px;
}

#dndicon {
    background-repeat: no-repeat;
    background-position: center bottom;
    height:192px;
    width:320px;
}

#logintxt {
    padding-left: 75px;
    padding-right: 25px;
}

.menu:hover {
    background-color: blue;
}

#dndlogin {
    height:256px;
    width:480px;
}

#dndregister {
    height:225px;
    width:412px;
}

#radio1, #radio2 {
    margin-top: -11px;

}

#popupicon {
    margin-top: 8px;
    vertical-align: middle;
    width: 25%;
}

.loginback 
{
    /* Makes the background transparent so it is easy to read text */
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),

    /* Says what image should appear in the backgorund */
    url(../images/loginback.png);
    background-size: cover;
}

.indexback
{
    /* Makes the background transparent so it is easy to read text */
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),

    /* Says what image should appear in the backgorund */
    url(../images/indexback.jpg);
    background-size: cover;
}

.npcback 
{
    /* Makes the background transparent so it is easy to read text */
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),

    /* Says what image should appear in the backgorund */
    url(../images/npcback.jpg);
    background-size: cover;
}

/*giving outline to text so that it is easier to read. Black border with white background is the easiest to read on any surface. */
.text-light {
    color: white;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }