#intro {
    margin-top: 50px;
}

#dndicon {
    background-repeat: no-repeat;
    background-position: center bottom;
    height:192px;
    width:320px;
}

#logintxt {
    padding-left: 75px;
    padding-right: 25px;
}

.menu:hover {
    background-color: blue;
}

#dndlogin {
    height:180px;
    width:320px;
}

#dndregister {
    height:225px;
    width:412px;
}

#radio1, #radio2 {
    margin-top: -11px;

}

#popupicon {
    margin-top: 8px;
    vertical-align: middle;
    width: 25%;
}